<div class="card" style="margin-left: 1rem; ">
  <div class="card-body">
    <h5 class="card-title">{{pageTitle}}</h5>
    <p class="card-text">This is a list of the students included in the db</p>
    <nav class="navbar navbar-light bg-light">
      <!-- <div class="col-md-4">
          <input [(ngModel)]="listFilter" class="form-control mr-sm-2" type="text">
        </div> -->
    </nav>
    <button class="btn btn-primary" (click)='toggleIds()'> {{showIds ? 'Hide' : 'Show'}} Ids</button>
  </div>

  <div class="card-body">
    <table class="table table-hover" *ngIf="students$ | async as students">
      <thead>
        <tr>
          <th *ngIf="showIds" scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Age</th>
          <th scope="col">Course</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td *ngIf="showIds">{{student.id}}</td>
          <td><a [routerLink]="['/students', student.id]">{{student.firstName}}</a></td>
          <td>{{student.surname}}</td>
          <td>{{student.age}}</td>
          <td>{{student.courseName}}</td>
          <td> 
              <a class='nav-link' [routerLink]="['/students/edit', student.id]"
                routerLinkActive="router-link-active"><button class="btn btn-outline-primary"> Edit</button>
              </a>
              <a class='nav-link' (click)="deleteStudent(student)"><button class="btn btn-outline-danger">
                  Delete</button>
              </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>